/* navbar */
.navbar-nav{
	margin-right: 50 !important;
	padding-right: 100px;
}
.navbar{
	background-color: #ebabc9;
	color: #fff !important;
	align-items: right;
}
.nav-item a{
	color: #fff !important;
}
.nav-item {
	padding-left: 10px;
}
.navbar-brand{
	color: #fff !important;
	padding-left: 10px;
}
#navbar button{
	color: #fff !important;
}

/* banner*/
nav {
    text-align: right;
}
#banner-container{
	background-color: #ebabc9;
	color: #fff !important;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top:20px;
}
#banner-row img{
	max-width: 65%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row a{
	background-color: #fff !important;
	color: #000 !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px; 
}

#banner-row h3,p{
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
}
#banner-col{
	padding-left: 20px;
}


/* footer */

.mb-3{
	padding-top: 10px;
}

@media only screen and (max-width:960px)
{
	.navbar-brand{
		padding-left:0;
	}
}
@media only screen and (max-width:760px)
{
	#banner-row img{
		padding-top:20px;
	}
	.social-col{
		width: 33%;
	}
}